html,
body {
  padding: 0;
  margin: 0;
}

#imageSelector {
  position: absolute;
  margin: 50vh 50vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#imageSelector a {
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
}

.hide {
  display: none !important;
}